@use "../base/mixin";
@use "../base/variables";
@use "../base/typography";

.app-banner {
    color: white;
    swiper-container {
        overflow: hidden;
        position: relative;
        border-radius: var(--c-radius);
        color: white;

        @include mixin.mq-max(lg) {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

.app-banner--mods {
    .app-header {
        color: white;
    }
}

.app-banner__pagination {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    .swiper-pagination-bullet {
        flex: 1;
        max-width: 42px;
        height: 2px;
        background-color: white;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--cl-pR1);
    }
}

.app-banner__navigation {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 72px;
    padding-right: 80px;
    gap: 16px;
    z-index: 10;

    .app-btn {
        --btn-indent: 0;
    }
}

.app-banner__simple-img,
.app-banner__slider-img {
    height: 80vh;
    min-height: 760px;
    max-height: 860px;
    position: relative;

    &:after {
        content: "";
        user-select: none;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(21, 18, 15, 0.2) 0%, rgba(21, 18, 15, 0) 34.58%),
        linear-gradient(180deg, rgba(21, 18, 15, 0.64) 0%, rgba(21, 18, 15, 0) 41.68%),
        linear-gradient(0deg, rgba(40, 39, 39, 0.2), rgba(40, 39, 39, 0.2));
    }

    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include mixin.mq-max(md) {
        min-height: 80vh;
    }
}

.app-banner__simple-wrapper {
    position: relative;
}

.app-banner__simple-img {
    overflow: hidden;
    border-radius: var(--c-radius);

    @include mixin.mq-max(lg) {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

.app-banner__slider-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .title {
        @include typography.unbounded(variables.withRatio(var(--h1-fs)));
        margin-bottom: 24px;

        i {
            display: block;
        }
    }

    .text {
        margin-bottom: 32px;
    }

    .content {
        padding-top: 60px;
        max-width: 920px;
    }

    @include mixin.mq-max(md) {
        justify-content: flex-end;

        .text {
            font-size: 14px;
        }

        .title {
            i {
                display: none;
            }
        }

        .content {
            max-width: 460px;
            padding-bottom: 80px;
            margin: 0 auto;

            .app-btn {
                width: 100%;
            }
        }
    }
}

.app-banner__page-item {
    --page-banner-bottom: 72px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: var(--page-banner-bottom);

    .app-crumbs {
        color: inherit;
    }

    .title {
        @include typography.unbounded(variables.withRatio(var(--h1-fs)));
        margin-bottom: 24px;

        i {
            display: block;
        }
    }

    .content {
        max-width: 696px;
    }

    @include mixin.mq-max(md) {
        --page-banner-bottom: 48px;
        justify-content: flex-end;

        .text {
            font-size: 14px;
        }

        .content {
            max-width: 460px;
            font-size: 14px;
        }
    }
}


.app-banner__slider-tags {
    position: absolute;
    padding-left: inherit;
    @include typography.inter(12px);
    bottom: 80px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 620px;
    gap: 8px;

    span {
        padding: 0 16px;
        line-height: 32px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 32px;
        white-space: nowrap;
        box-shadow: 0 0 0 1px inset rgba(255,255,255,0.32);
    }
}

.app-banner__page-content {

}