<div class="app-blog-thumb">
    <div class="app-blog-thumb__area">
        <a href="#" class="app-blog-thumb__img">
            <img src="./images/thumb_01_sm.jpg" alt="">
        </a>
    </div>

    <a href="/">
        <div class="app-blog-thumb__title"><span>Новая партия гибридов уже в Минске</span></div>
        <div class="app-blog-thumb__subtitle">
            <span>Процесс покупки и доставки авто — это не 3 дня, поэтому мы доносим до каждого клиента, какой путь ждёт его будущее авто.</span>
        </div>
    </a>
</div>