<div class="app-car-config">
    <div class="app-car-config__item">
        <label class="app-car-config__item-link">
            <input type="checkbox" checked="" hidden="">
            <span>Комплектация</span>
            <svg width="16" height="24">
                <use xlink:href="./app-sprite.svg#arrow-down"></use>
            </svg>
        </label>
        <div class="app-car-config__item-wrapper">
            <div class="app-car-config__item-content app-text">
                <div class="app-car-config__option">
                    <b>Мощность двигателя, лс</b>
                    <span>238 л</span>
                </div>
                <div class="app-car-config__option">
                    <b>Привод</b>
                    <span>Полный</span>
                </div>
                <div class="app-car-config__option">
                    <b>Расход топлива в смешанном цикле</b>
                    <span>8.1</span>
                </div>
                <div class="app-car-config__option">
                    <b>Разгон до 100 км/ч, с</b>
                    <span>6.8</span>
                </div>
            </div>
        </div>
    </div>
    <div class="app-car-config__item">
        <label class="app-car-config__item-link">
            <input type="checkbox" hidden="">
            <span>Системы безопасности</span>
            <svg width="16" height="24">
                <use xlink:href="./app-sprite.svg#arrow-down"></use>
            </svg>
        </label>
        <div class="app-car-config__item-wrapper">
            <div class="app-car-config__item-content app-text">
                <div class="app-car-config__option">
                    <b>Мощность двигателя, лс</b>
                    <span>238 л</span>
                </div>
                <div class="app-car-config__option">
                    <b>Привод</b>
                    <span>Полный</span>
                </div>
                <div class="app-car-config__option">
                    <b>Расход топлива в смешанном цикле</b>
                    <span>8.1</span>
                </div>
                <div class="app-car-config__option">
                    <b>Разгон до 100 км/ч, с</b>
                    <span>6.8</span>
                </div>
            </div>
        </div>
    </div>
    <div class="app-car-config__item">
        <label class="app-car-config__item-link">
            <input type="checkbox" hidden="">
            <span>Подушки</span>
            <svg width="16" height="24">
                <use xlink:href="./app-sprite.svg#arrow-down"></use>
            </svg>
        </label>
        <div class="app-car-config__item-wrapper">
            <div class="app-car-config__item-content app-text">
                <div class="app-car-config__option">
                    <b>Мощность двигателя, лс</b>
                    <span>238 л</span>
                </div>
                <div class="app-car-config__option">
                    <b>Привод</b>
                    <span>Полный</span>
                </div>
                <div class="app-car-config__option">
                    <b>Расход топлива в смешанном цикле</b>
                    <span>8.1</span>
                </div>
                <div class="app-car-config__option">
                    <b>Разгон до 100 км/ч, с</b>
                    <span>6.8</span>
                </div>
            </div>
        </div>
    </div>
    <div class="app-car-config__item">
        <label class="app-car-config__item-link">
            <input type="checkbox" hidden="">
            <span>Системы помощи</span>
            <svg width="16" height="24">
                <use xlink:href="./app-sprite.svg#arrow-down"></use>
            </svg>
        </label>
        <div class="app-car-config__item-wrapper">
            <div class="app-car-config__item-content app-text">
                <div class="app-car-config__option">
                    <b>Мощность двигателя, лс</b>
                    <span>238 л</span>
                </div>
                <div class="app-car-config__option">
                    <b>Привод</b>
                    <span>Полный</span>
                </div>
                <div class="app-car-config__option">
                    <b>Расход топлива в смешанном цикле</b>
                    <span>8.1</span>
                </div>
                <div class="app-car-config__option">
                    <b>Разгон до 100 км/ч, с</b>
                    <span>6.8</span>
                </div>
            </div>
        </div>
    </div>
</div>