<form class="app-ordering__form">
    <div class="app-ordering__form-check">
        <p>2024 CHEVROLET EQUINOX FWD RS</p>
        <p>≈ $7650</p>
    </div>
    <div class="app-select --d-full mb-2">
        <div class="app-select">
            <div class="app-select__view">Комплексное предложение</div>
            <select>
                <option value="placeholder">Комплексное предложение</option>
                <option value="1">Премиум</option>
                <option value="2">Не премиум</option>
                <option value="3">Немножко премиум</option>
                <option value="4">Совсем не премиум</option>
            </select>
        </div>
    </div>
    <div class="app-text mb-2">
        <p>Вы можете связаться с нами по телефону +375 44 777–11–11 в мессенджерах Viber, WhatsApp, Telegram или оставить заявку и мы сами свяжемся с Вами</p>
    </div>
    <div class="app-ordering__form-grid">
        <div class="app-input">
            <label><span class="app-input__placeholder">Имя</span><input type="text" ></label>
        </div>
        <div class="app-input">
            <label><span class="app-input__placeholder">Номер телефона</span><input type="phone" placeholder="+375 (__) ___–__–__" maxlength="19"></label>
        </div>

        <div class="app-select --d-full">
            <div class="app-select">
                <div class="app-select__view">Как с вами связаться?</div>
                <select>
                    <option value="placeholder">Как с вами связаться?</option>
                    <option value="1">Viber</option>
                    <option value="2">Telegram</option>
                    <option value="3">Телефон</option>
                    <option value="4">Whatsapp</option>
                </select>
            </div>
        </div>
        <div class="app-ordering__form-footer --d-full">
            <div>
                <label class="app-checkbox">
                    <input type="checkbox" hidden />
                    <span class="app-checkbox__icon">
                        <svg width="18" height="24">
                            <use xlink:href="./app-sprite.svg#check"></use>
                        </svg>
                    </span>
                    <span>Я соглашаюсь на обработку и хранение персональных данных в соответствии с <a href="">условиями соглашения</a></span>
                </label>
            </div>
            <button type="submit" class="app-btn btn-size-m btn-primary "><span>Получить консультацию</span></button>
        </div>
    </div>
</form>