<aside class="app-sidebar app-mobile-visible js-sidebar-element">
    <span class="app-sidebar__close js-sidebar-button" href="/">
        <svg width="14" height="24">
            <use xlink:href="/app-sprite.svg#close"></use>
        </svg>
    </span>
    <div class="app-sidebar__header">
        <span>Меню</span>
    </div>
    <div class="app-sidebar__scroll">
        <nav class="app-sidebar-nav__main">
            <a href="#" class="app-sidebar__link"><span>Авто в наличии</span></a>
            <a href="#" class="app-sidebar__link"><span>Авто в пути</span></a>
            <a href="#" class="app-sidebar__link"><span>Авто из Европы</span></a>
            <a href="#" class="app-sidebar__link"><span>Авто из США</span></a>
            <a href="#" class="app-sidebar__link"><span>Оценить авто</span></a>
        </nav>
        <nav class="app-sidebar-nav__secondary mt-3">
            <a href="#" class="app-sidebar__link"><span>Instagram</span></a>
            <a href="#" class="app-sidebar__link"><span>Telegram</span></a>
            <a href="#" class="app-sidebar__link"><span>О компании</span></a>
            <a href="#" class="app-sidebar__link"><span>Контакты</span></a>
            <a href="#" class="app-sidebar__link"><span>Новости</span></a>
            <a href="#" class="app-sidebar__link"><span>Персональные данные</span></a>
        </nav>
    </div>
    <div class="app-footer-social">
        <a href="#">
            <svg width="20" height="24">
                <use xlink:href="/app-sprite.svg#viber"></use>
            </svg>
        </a>
        <a href="#">
            <svg width="20" height="24">
                <use xlink:href="/app-sprite.svg#telegram"></use>
            </svg>
        </a>
        <a href="#">
            <svg width="20" height="24">
                <use xlink:href="/app-sprite.svg#whats-app"></use>
            </svg>
        </a>
        <a href="#">
            <svg width="20" height="24">
                <use xlink:href="/app-sprite.svg#instagram"></use>
            </svg>
        </a>
    </div>
</aside>