<div class="app-stock-thumb">
    <div class="app-stock-thumb__area">
        <div class="app-stock-thumb__grid">
            <a href="#" class="app-stock-thumb__img">
                <img src="./images/thumb_01_sm.jpg" alt="">
            </a>
            <a href="#" class="app-stock-thumb__img">
                <img src="./images/thumb_02_sm.jpg" alt="">
            </a>
            <a href="#" class="app-stock-thumb__img">
                <img src="./images/thumb_03_sm.jpg" alt="">
            </a>
            <div class="app-stock-thumb__indicators">
                <!--индикаторов сколько картинок-->
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="app-stock-thumb__status --in-stock">в наличии</div>
    </div>

    <a href="/">
        <div class="app-stock-thumb__title"><span>Jaguar I-Pace I</span></div>
        <div class="app-stock-thumb__price">
            <span>104 658 BYN</span>
            <small>~30 400 USD</small>
        </div>
        <div class="app-stock-thumb__info">
            <span>1.2</span>
            <span>Бензин</span>
            <span>2020</span>
            <span>100 000 км</span>
            <span>Автомат</span>
            <span>Полный</span>
        </div>
    </a>
</div>