<section class="app-banner js-banner">
    <div class="app-container-holder">
        <div class="app-banner__simple-wrapper">
            <div class="app-banner__simple-img">
                <img src="./images/banner-2.jpg" alt="" />
            </div>
            <div class="app-banner__page-item app-container">
                <div class="app-crumbs"><a href="/"><span>Главная</span></a><span> \ </span></div>
                <div class="title">О компании</div>
                <div class="content">
                    <p>Продаются транспортные средства на крытом паркинге, где обеспечивается круглосуточное видеонаблюдение и охрана.
                        Мы работаем c лизинговыми организациями, предоставляющие самые отличные условия для лизинга.</p>
                </div>
            </div>
        </div>
    </div>
</section>