<section class="app-about-us app-section--mt">
    <div class="app-container-holder">
        <div class="app-container">
            <div class="app-section__header-sm app-section--header-mb">Направления деятельности <span>AM CAR</span></div>
            <div class="app-about-us__grid">
                <div class="app-about-us__item --left">
                    <div class="app-about-us__img">
                        <img src="./images/about-1.jpg" alt=""/>
                    </div>
                    <div class="app-about-us__item-content">
                        <h2>Комиссионная продажа автомобилей</h2>
                        <div class="app-text">
                            <p>Все платежи осуществляются только через банк, никаких наличных денежных средств — это даст Вам гарантию в 100% легальность сделки , а нам никаких претензий со стороны контролирующих органов</p>
                        </div>
                        <a href="#" class="app-btn btn-primary btn-size-m"><span>Авто в наличии</span></a>
                    </div>
                </div>
                <div class="app-about-us__item --right">
                    <div class="app-about-us__img">
                        <img src="./images/about-2.jpg" alt=""/>
                    </div>
                    <div class="app-about-us__item-content">
                        <h2>Автомобили из США</h2>
                        <div class="app-text">
                            <p>Все платежи осуществляются только через банк, никаких наличных денежных средств — это даст Вам гарантию в 100% легальность сделки , а нам никаких претензий со стороны контролирующих органов</p>
                        </div>
                        <a href="#" class="app-btn btn-primary btn-size-m"><span>Авто в пути</span></a>
                    </div>
                </div>
                <div class="app-about-us__item --left">
                    <div class="app-about-us__img">
                        <img src="./images/about-3.jpg" alt=""/>
                    </div>
                    <div class="app-about-us__item-content">
                        <h2>Автомобили из Европы</h2>
                        <div class="app-text">
                            <p>Этот этап занимает от 2-х до 10-и дней в зависимости от месторасположения площадки аукциона.
                                Автомобили оправляются в следующие порты:</p>
                        </div>
                        <a href="#" class="app-btn btn-primary btn-size-m"><span>Авто в наличии</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>