<section class="app-about-partners app-section--mt">
    <div class="app-container-holder">
        <div class="app-container">
        <div class="app-section--header">
            <h2>Партнеры</h2>
        </div>
        <swiper-container init="false" class="js-default-swiper">
            <div slot="container-start">
                <button class="app-btn btn-slider btn-size-xl swiper-left app-desktop-visible">
                    <svg width="9" height="24">
                        <use xlink:href="/app-sprite.svg#arrow-left"></use>
                    </svg>
                </button>
            </div>
            <div slot="container-end">
                <button class="app-btn btn-slider btn-size-xl swiper-right app-desktop-visible">
                    <svg width="9" height="24">
                        <use xlink:href="/app-sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <swiper-slide>
                <div class="app-about-partners__item">
                    <img src="./images/partner-1.png" alt="" />
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-about-partners__item">
                    <img src="./images/partner-2.png" alt="" />
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-about-partners__item">
                    <img src="./images/partner-3.png" alt="" />
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-about-partners__item">
                    <img src="./images/partner-1.png" alt="" />
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-about-partners__item">
                    <img src="./images/partner-2.png" alt="" />
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-about-partners__item">
                    <img src="./images/partner-3.png" alt="" />
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
    </div>
</section>