<section class="app-about-choice app-section--mt">
    <div class="app-container-holder">
        <div class="app-container">
        <div class="app-section__header-sm app-section--header-mb">Почему выбирают <span>AM CAR</span></div>
        <swiper-container init="false" class="js-default-swiper">
            <div slot="container-start">
                <button class="app-btn btn-slider btn-size-xl swiper-left app-desktop-visible">
                    <svg width="9" height="24">
                        <use xlink:href="/app-sprite.svg#arrow-left"></use>
                    </svg>
                </button>
            </div>
            <div slot="container-end">
                <button class="app-btn btn-slider btn-size-xl swiper-right app-desktop-visible">
                    <svg width="9" height="24">
                        <use xlink:href="/app-sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <swiper-slide>
                <div class="app-about-choice__item">
                    <h3>Гарантия сделки и полное страхование груза</h3>
                    <div class="app-text">
                        <p>Все платежи осуществляются только через банк, никаких наличных денежных средств — это даст Вам гарантию в 100% легальность сделки, а нам никаких претензий со стороны контролирующих органов.</p>
                        <p>После того как от Вас поступает оплата, автомобиль перевозится в порт отправки и загружается в контейнер</p>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-about-choice__item">
                    <h3>Проверка, доставка, растаможка и ремонт авто</h3>
                    <div class="app-text">
                        <p>Этот этап занимает от 2-х до 10-и дней в зависимости от месторасположения площадки аукциона.</p>
                        <p>Автомобили оправляются в следующие порты:</p>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-about-choice__item">
                    <h3>Автомобиль в лизинг</h3>
                    <div class="app-text">
                        <p>Если вы уже выбрали авто и поставщика, но у вас нет всей суммы на руках, то вы можете оформить лизинг.</p>
                        <p>Мы предлагаем финансирование до 80% от стоимости выбранного вами автомобиля. Обращаем внимание, что лизинговые услуги распространяются только на новые авто или с пробегом, но не требующие ремонта и готовые к эксплуатации. </p>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-about-choice__item">
                    <h3>Гарантия сделки и полное страхование груза</h3>
                    <div class="app-text">
                        <p>Все платежи осуществляются только через банк, никаких наличных денежных средств — это даст Вам гарантию в 100% легальность сделки, а нам никаких претензий со стороны контролирующих органов.</p>
                        <p>После того как от Вас поступает оплата, автомобиль перевозится в порт отправки и загружается в контейнер</p>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-about-choice__item">
                    <h3>Проверка, доставка, растаможка и ремонт авто</h3>
                    <div class="app-text">
                        <p>Этот этап занимает от 2-х до 10-и дней в зависимости от месторасположения площадки аукциона.</p>
                        <p>Автомобили оправляются в следующие порты:</p>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-about-choice__item">
                    <h3>Автомобиль в лизинг</h3>
                    <div class="app-text">
                        <p>Если вы уже выбрали авто и поставщика, но у вас нет всей суммы на руках, то вы можете оформить лизинг.</p>
                        <p>Мы предлагаем финансирование до 80% от стоимости выбранного вами автомобиля. Обращаем внимание, что лизинговые услуги распространяются только на новые авто или с пробегом, но не требующие ремонта и готовые к эксплуатации. </p>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
    </div>
</section>