<section class="app-blog app-page--mt">
    <div class="app-container-holder">
        <div class="app-container">
        <div class="app-crumbs"><a href="/"><span>Главная</span></a><span> \ </span></div>
        <div class="app-blog__grid">
            <div class="app-blog__content --left">
                <div class="app-text">
                    <h1>Я еще выплачиваю кредит на покупку автомобиля</h1>
                    <p>В мире, насыщенном моментальными новостями и бурными событиями, порой легко утратить из виду те невероятные истории, которые зачастую происходят рядом с нами. Однако, в свете развития подкастов мы снова начинаем обращать внимание на те аспекты человечности, которые могут сделать мир лучше. Сегодня мы расскажем о нескольких творческих проектах, где каждая история — это маленький камешек, вносящий свой вклад в строительство лучшего будущего.</p>
                    <img src="./images/blog-1.jpg" alt=""/>
                    <h2>Наименование, местонахождение H2</h2>
                    <p>Эта оценка свидетельствует о высоком уровне соблюдения принципов устойчивого развития и ESG принципов при принятии решений.</p>
                    <p>Рейтинговым агентством подчеркнуты: уровень регламентации в области корпоративной социальной ответственности, отсутствие дискриминации, соблюдение гендерного равенства сотрудников, обеспечение сотрудников добровольным медицинским страхованием и корпоративным обучением. Так, за январь–ноябрь 2023 года обучение за счет Организации прошли 14% сотрудников.</p>
                    <h3>Наименование, местонахождение H3</h3>
                    <p>Эта оценка свидетельствует о высоком уровне соблюдения принципов устойчивого развития и ESG принципов при принятии решений.</p>
                    <p>Рейтинговым агентством подчеркнуты: уровень регламентации в области корпоративной социальной ответственности, отсутствие дискриминации, соблюдение гендерного равенства сотрудников, обеспечение сотрудников добровольным медицинским страхованием и корпоративным обучением. Так, за январь–ноябрь 2023 года обучение за счет Организации прошли 14% сотрудников.</p>
                    <img src="./images/blog-2.jpg" alt=""/>
                    <h3>Наименование, местонахождение H3</h3>
                    <p>Эта оценка свидетельствует о высоком уровне соблюдения принципов устойчивого развития и ESG принципов при принятии решений.</p>
                    <p>Рейтинговым агентством подчеркнуты: уровень регламентации в области корпоративной социальной ответственности, отсутствие дискриминации, соблюдение гендерного равенства сотрудников, обеспечение сотрудников добровольным медицинским страхованием и корпоративным обучением. Так, за январь–ноябрь 2023 года обучение за счет Организации прошли 14% сотрудников.</p>

                    <h3>Наименование, местонахождение H3</h3>
                    <p>Лизинг, в отличии от кредита, предполагает, что в течение всего срока договора право собственности на авто принадлежит лизинговой компании. В то же время вы, как лизингополучатель, владеете и пользуетесь авто без ограничений. А всю работу, связанную с оформлением покупки и страхованием автомобиля, берёт на себя Райффайзен-Лизинг.</p>
                    <ul>
                        <li>Быстро решаем ваш вопрос. Предварительный ответ на заявку в течение 1 часа, подписание договора онлайн, получение авто или техники – в течение дня.</li>
                        <li>Предлагаем гибкие и прозрачные условия. Выбор удобной схемы платежей, без скрытых комиссий, минимальный пакет документов.</li>
                        <li>Заботимся о клиентах и их бизнесе. Консультации онлайн и оффлайн на любом этапе сделки, полезный контент, бонусы тем, кто вернулся к нам или привел друзей.</li>
                    </ul>
                    <p>Как лизингополучатель, владеете и пользуетесь авто без ограничений. А всю работу, связанную с оформлением покупки и страхованием автомобиля, берёт на себя Райффайзен-Лизинг.</p>
                    <ol>
                        <li>Быстро решаем ваш вопрос. Предварительный ответ на заявку в течение 1 часа, подписание договора онлайн, получение авто или техники – в течение дня.</li>
                        <li>Предлагаем гибкие и прозрачные условия. Выбор удобной схемы платежей, без скрытых комиссий, минимальный пакет документов.</li>
                    </ol>
                </div>
            </div>
            <div class="--right">
                <div class="app-blog-banner">
                    <div class="app-blog-banner__img">
                        <img src="./images/blog-banner.jpg" alt=""/>
                    </div>
                    <div class="app-blog-banner__grid">
                        <div class="app-blog-banner__logo" href="/">
                            <svg width="148" height="43">
                                <use xlink:href="/app-sprite.svg#logo"></use>
                            </svg>
                        </div>
                        <div class="app-blog-banner__content">
                            <div class="app-blog-banner__title">Автомобили <i></i>под заказ из США</div>
                            <div class="app-blog-banner__text">Экономим время и деньги наших Клиентов, используем комплексный подход и контроль всех этапов — от подбора до доставки.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>