<section class="app-car-shipping app-section--mt">
    <div class="app-container-holder">
        <div class="app-car-shipping__inner">
            <div class="app-container">
                <div class="app-car-shipping__grid app-in-max__holder">
                    <div class="app-car-shipping__left">
                        <div class="app-car-shipping__title h1">Стоимость доставки</div>
                        <div class="app-car-shipping__image mt-3">
                            <img src="./images/car-{{ car-in }}-1.jpg" />
                        </div>
                        <div class="app-car-shipping__car-title mt-3">{{ car-title }}</div>
                        <div class="app-car-shipping__car-short-info mt-1 --fs-sm --text">
                            <span>1.5L</span>
                            <span>SUV</span>
                            <span>30 000mi</span>
                        </div>
                        <div class="--fs-sm --text mt-1">* Не является публичной офертой</div>
                    </div>
                    <div class="app-car-shipping__right">
                        <div class="--fs-sm --text mb-1">Детализация</div>
                        <div class="app-car-shipping__car-infobox">
                            <div class="app-car-shipping__ci-item">
                                <div class="--ci-title">Стоимость авто</div>
                                <div>7,650 USD</div>
                            </div>
                            <div class="app-car-shipping__ci-item">
                                <div class="--ci-title">Таможенная пошлина</div>
                                <div>1,275 USD (Льготная)</div>
                            </div>
                            <div class="app-car-shipping__ci-item">
                                <div class="--ci-title">Аукционный сбор</div>
                                <div>1,175 USD</div>
                            </div>
                            <div class="app-car-shipping__ci-item">
                                <div class="--ci-title">Таможенный сбор</div>
                                <div>120 BYN</div>
                            </div>
                            <div class="app-car-shipping__ci-item">
                                <div class="--ci-title">Транспортировка в порт США</div>
                                <div>425 USD</div>
                            </div>
                            <div class="app-car-shipping__ci-item">
                                <div class="--ci-title">Утилизационный сбор</div>
                                <div>817 BYN</div>
                            </div>
                            <div class="app-car-shipping__ci-item">
                                <div class="--ci-title">Доставка от порта до Клайпеды</div>
                                <div>1,300 USD</div>
                            </div>
                            <div class="app-car-shipping__ci-item">
                                <div class="--ci-title">Расходы на СВХ</div>
                                <div>400 BYN</div>
                            </div>
                            <div class="app-car-shipping__ci-item">
                                <div class="--ci-title">Стоимость наших услуг</div>
                                <div>990 BYN</div>
                            </div>
                        </div>
                        <div class="app-select --d-full mt-3">
                            <div class="app-select app-select--with-placeholder">
                                <div class="app-select__view">Комплексное предложение</div>
                                <div class="app-select__placeholder">Комплексное предложение</div>
                                <select>
                                    <option value="placeholder">Комплексное предложение</option>
                                    <option value="1">Премиум</option>
                                    <option value="2">Не премиум</option>
                                    <option value="3">Немножко премиум</option>
                                    <option value="4">Совсем не премиум</option>
                                </select>
                            </div>
                        </div>
                        <div class="app-conditions__summary mt-3">
                            <div class="app-conditions__summary-left">
                                <div class="--fs-sm --text">Итого</div>
                                <div class="app-conditions__summary-title">19 566 USD</div>
                            </div>
                            <div class="app-conditions__summary-right">
                                <a href="#" class="app-btn btn-size-l btn-primary"><span>Отправить заявку</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>