<section class="app-conditions app-section--mt">
    <div class="app-container-holder">
        <div class="app-container">
            {{> components/car-condition-grid}}
        </div>
    </div>
</section>