<section class="app-cars-es-usa app-section--mt">
    <div class="app-container-holder">
        <div class="app-cars-es-usa__banner">
            <div class="app-container">
                <div class="app-cars-es-usa__grid">
                    <h2 class="--left">Автомобили из&nbsp;США&nbsp;и&nbsp;Европы</h2>
                    <div class="app-text --left">
                        <p>Мы бережем время и средства наших клиентов, применяя тщательный контроль на каждом этапе — от выбора автомобиля до его доставки.</p>
                        <p>Наша цель — сделать процесс покупки максимально безопасным, оперативным и комфортным для вас.</p>
                    </div>
                    <div class="app-cars-es-usa__images --right">
                        <div class="app-cars-es-usa__img --desktop">
                            <img src="./images/es-usa.png" alt="" />
                        </div>
                        <div class="app-cars-es-usa__img --mobile">
                            <img src="./images/es-usa-mobile.png" alt="" />
                        </div>
                    </div>
                    <div class="app-cars-es-usa__tools --left">
                        <a href="#" class="app-btn btn-secondary btn-size-m"><span>Авто из США</span></a>
                        <a href="#" class="app-btn btn-secondary btn-size-m"><span>Авто из Европы</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-cars-es-usa__info">
            <div class="app-container">
                <div class="app-cars-es-usa__info-grid">
                    <div class="app-cars-es-usa__info-item">
                        <svg width="48" height="52">
                            <use xlink:href="./app-sprite.svg#graph-lg"></use>
                        </svg>
                        <h4>Дешевле рынка&nbsp;до&nbsp;40%</h4>
                        <p>Купить и импортировать авто можно значительно дешевле, чем в Беларуси</p>
                    </div>
                    <div class="app-cars-es-usa__info-item">
                        <svg width="36" height="52">
                            <use xlink:href="./app-sprite.svg#setup-lg"></use>
                        </svg>
                        <h4>Богатое оснащение</h4>
                        <p>Почти во всех автомобилях есть АККП и климат-контроль</p>
                    </div>
                    <div class="app-cars-es-usa__info-item">
                        <svg width="40" height="52">
                            <use xlink:href="./app-sprite.svg#speed-lg"></use>
                        </svg>
                        <h4>Маленький пробег</h4>
                        <p>Автомобили с пробегом до 100 000 км не требуют ремонта, только замены масла </p>
                    </div>
                    <div class="app-cars-es-usa__info-item">
                        <svg width="46" height="52">
                            <use xlink:href="./app-sprite.svg#car-lg"></use>
                        </svg>
                        <h4>Большой выбор&nbsp;авто</h4>
                        <p>От легендарных моделей до современных электрокаров</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>