<footer class="app-footer app-section--mt">
    <div class="app-container-holder">
        <div class="app-footer__inner">
            <div class="app-container">
                <div class="app-footer-content">
                    <div class="app-footer-left">
                        <a class="app-footer__logo" href="/">
                            <svg width="128" height="44">
                                <use xlink:href="./app-sprite.svg#logo"></use>
                            </svg>
                        </a>
                        <ul class="app-footer__contacts">
                            <li class="app-footer__contacts-item">
                                <svg width="20" height="24">
                                    <use xlink:href="./app-sprite.svg#phone"></use>
                                </svg>
                                <p><a href="tel:+375447771111">+375 44 777<span>–</span>11<span>–</span>11</a></p>
                            </li>
                            <li class="app-footer__contacts-item">
                                <svg width="20" height="24">
                                    <use xlink:href="./app-sprite.svg#clock"></use>
                                </svg>
                                <p>Будни 09:00–21:00</p>
                                <p>Выходные 09:00–20:00</p>
                            </li>
                            <li class="app-footer__contacts-item">
                                <svg width="17" height="24">
                                    <use xlink:href="./app-sprite.svg#pin"></use>
                                </svg>
                                <p>Минск, ул. Ленина 27 ТЦ "Ленинград" паркинг 2 этаж</p>
                            </li>
                        </ul>
                    </div>
                    <div class="app-footer-right">
                        <div class="app-footer-columns">
                            <div class="app-footer-column">
                                <label class="app-footer__accordion-link">
                                    <input type="checkbox" hidden>
                                    <span>Клиенту</span>
                                    <svg width="16" height="24">
                                        <use xlink:href="./app-sprite.svg#arrow-down"></use>
                                    </svg>
                                </label>
                                <div class="app-footer__nav-wrapper">
                                    <nav class="app-footer__nav">
                                        <a href="#" class="app-footer__nav-link"><span>Авто в наличии</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>Продать авто</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>Авто из США</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>Авто из Европы</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>Авто в Пути</span></a>
                                    </nav>
                                </div>
                            </div>
                            <div class="app-footer-column">
                                <label class="app-footer__accordion-link">
                                    <input type="checkbox" hidden>
                                    <span>Услуги</span>
                                    <svg width="16" height="24">
                                        <use xlink:href="./app-sprite.svg#arrow-down"></use>
                                    </svg>
                                </label>
                                <div class="app-footer__nav-wrapper">
                                    <nav class="app-footer__nav">
                                        <a href="#" class="app-footer__nav-link"><span>Доставка авто</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>Таможенное оформление</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>Ремонт авто</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>Отслеживание контейнеров</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>Проверка карфакс</span></a>
                                    </nav>
                                </div>
                            </div>
                            <div class="app-footer-column app-footer__last-cell">
                                <label class="app-footer__accordion-link">
                                    <input type="checkbox" hidden>
                                    <span>Компания</span>
                                    <svg width="16" height="24">
                                        <use xlink:href="./app-sprite.svg#arrow-down"></use>
                                    </svg>
                                </label>
                                <div class="app-footer__nav-wrapper">
                                    <nav class="app-footer__nav">
                                        <a href="#" class="app-footer__nav-link"><span>Документы</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>Персональные данные</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>Новости</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>О компании</span></a>
                                        <a href="#" class="app-footer__nav-link"><span>Контакты</span></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-footer-bottom">
                    <div class="app-footer-left">
                        <div class="app-footer-social">
                            <a href="#">
                                <svg width="20" height="24">
                                    <use xlink:href="./app-sprite.svg#viber"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="20" height="24">
                                    <use xlink:href="./app-sprite.svg#telegram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="20" height="24">
                                    <use xlink:href="./app-sprite.svg#whats-app"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="20" height="24">
                                    <use xlink:href="./app-sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="app-footer-right">
                        <div class="app-footer-bottom__info">
                            <div class="app-footer-bottom__info-left">
                                Все права защищены. Любое использование материалов допускается только со ссылкой на источник.
                            </div>
                            <div class="app-footer-bottom__info-right app-footer__last-cell">
                                © 2018-2025 УНП 191427916<br>
                                ИП Ясевич Александр Викторович.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>