<header class="app-header">
    <div class="app-container-holder">
        <div class="app-container">
            <div class="app-header__wrapper app-desktop-visible">
                <a class="app-header__logo --start" href="/">
                    <svg width="148" height="43">
                        <use xlink:href="/app-sprite.svg#logo"></use>
                    </svg>
                </a>
                <div class="app-header__top-menu">
                    <nav class="app-header__nav">
                        <a class="app-header__nav-link" href="#">
                            <span>Instagram</span>
                        </a>
                        <a class="app-header__nav-link" href="#">
                            <span>Telegram</span>
                        </a>
                        <a class="app-header__nav-link" href="./about">
                            <span>О компании</span>
                        </a>
                        <a class="app-header__nav-link" href="./contacts">
                            <span>Контакты</span>
                        </a>
                    </nav>
                    <a href="#" class="app-btn ml-4 btn-secondary btn-size-s"><span>Заказать звонок</span></a>
                </div>
                <nav class="app-header__bottom-menu app-header__nav">
                    <a class="app-header__nav-link active" href="./car-preview-in-stock">
                        <span>Авто в наличии</span>
                    </a>
                    <a class="app-header__nav-link" href="./car-preview-in-transit">
                        <span>Авто в пути</span>
                    </a>
                    <a class="app-header__nav-link" href="./car-preview-in-usa">
                        <span>Авто из Европы</span>
                    </a>
                    <a class="app-header__nav-link" href="./car-preview-in-usa">
                        <span>Авто из США</span>
                    </a>
                    <a class="app-header__nav-link --end" href="#">
                        <span>Оценить авто</span>
                    </a>
                </nav>
            </div>
            <div class="app-header-mobile app-header__wrapper app-mobile-visible">
                <span class="app-header__menu app-header__icon js-sidebar-button">
                    <svg width="24" height="24">
                        <use xlink:href="/app-sprite.svg#menu"></use>
                    </svg>
                </span>
                <a class="app-header__logo" href="/">
                    <svg width="120" height="30">
                        <use xlink:href="/app-sprite.svg#logo"></use>
                    </svg>
                </a>
                <a class="app-header__phone app-header__icon" href="/">
                    <svg width="24" height="24">
                        <use xlink:href="/app-sprite.svg#phone"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>