<section class="app-import-steps app-section--mt">
    <div class="app-container-holder">
        <div class="app-container">
        <div class="app-import-steps__holder">
            <div class="app-import-steps__title">Пять простых шагов <span>для импорта авто</span></div>
            <div class="app-import-steps__list">
                <div class="app-import-steps__item">
                    <label class="app-import-steps__link">
                        <input type="checkbox" hidden>
                        <span>Оставляете заявку</span>
                        <svg width="16" height="24">
                            <use xlink:href="/app-sprite.svg#arrow-down"></use>
                        </svg>
                    </label>
                    <div class="app-import-steps__content-wrapper">
                        <div class="app-import-steps__content app-text">
                            <p>В случае выигрыша лота, его стоимость и аукционный сбор нужно оплатить в течение 2 рабочих дней. Оплата производится клиентом напрямую в страну приобретения.</p>
                            <p>Клиент получает детальную информацию по вопросам оплаты и доставки автомобиля. Для вашей безопасности проводит только официальные сделки по заранее подписанному договору.</p>
                        </div>
                    </div>
                </div>
                <div class="app-import-steps__item">
                    <label class="app-import-steps__link">
                        <input type="checkbox" hidden>
                        <span>Подбор и проверка</span>
                        <svg width="16" height="24">
                            <use xlink:href="/app-sprite.svg#arrow-down"></use>
                        </svg>
                    </label>
                    <div class="app-import-steps__content-wrapper">
                        <div class="app-import-steps__content app-text">
                            <p>В случае выигрыша лота, его стоимость и аукционный сбор нужно оплатить в течение 2 рабочих дней. Оплата производится клиентом напрямую в страну приобретения.</p>
                            <p>Клиент получает детальную информацию по вопросам оплаты и доставки автомобиля. Для вашей безопасности проводит только официальные сделки по заранее подписанному договору.</p>
                        </div>
                    </div>
                </div>
                <div class="app-import-steps__item">
                    <label class="app-import-steps__link">
                        <input type="checkbox" hidden>
                        <span>Аукцион</span>
                        <svg width="16" height="24">
                            <use xlink:href="/app-sprite.svg#arrow-down"></use>
                        </svg>
                    </label>
                    <div class="app-import-steps__content-wrapper">
                        <div class="app-import-steps__content app-text">
                            <p>В случае выигрыша лота, его стоимость и аукционный сбор нужно оплатить в течение 2 рабочих дней. Оплата производится клиентом напрямую в страну приобретения.</p>
                            <p>Клиент получает детальную информацию по вопросам оплаты и доставки автомобиля. Для вашей безопасности проводит только официальные сделки по заранее подписанному договору.</p>
                        </div>
                    </div>
                </div>
                <div class="app-import-steps__item">
                    <label class="app-import-steps__link">
                        <input type="checkbox" checked hidden>
                        <span>Оплата авто</span>
                        <svg width="16" height="24">
                            <use xlink:href="/app-sprite.svg#arrow-down"></use>
                        </svg>
                    </label>
                    <div class="app-import-steps__content-wrapper">
                        <div class="app-import-steps__content app-text">
                            <p>В случае выигрыша лота, его стоимость и аукционный сбор нужно оплатить в течение 2 рабочих дней. Оплата производится клиентом напрямую в страну приобретения.</p>
                            <p>Клиент получает детальную информацию по вопросам оплаты и доставки автомобиля. Для вашей безопасности проводит только официальные сделки по заранее подписанному договору.</p>
                        </div>
                    </div>
                </div>
                <div class="app-import-steps__item">
                    <label class="app-import-steps__link">
                        <input type="checkbox" hidden>
                        <span>Доставка автомобиля</span>
                        <svg width="16" height="24">
                            <use xlink:href="/app-sprite.svg#arrow-down"></use>
                        </svg>
                    </label>
                    <div class="app-import-steps__content-wrapper">
                        <div class="app-import-steps__content app-text">
                            <p>В случае выигрыша лота, его стоимость и аукционный сбор нужно оплатить в течение 2 рабочих дней. Оплата производится клиентом напрямую в страну приобретения.</p>
                            <p>Клиент получает детальную информацию по вопросам оплаты и доставки автомобиля. Для вашей безопасности проводит только официальные сделки по заранее подписанному договору.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>