<section class="app-ordering app-section--mt">
    <div class="app-container-holder">
        <div class="app-ordering__inner">
            <div class="app-container">
                <div class="app-ordering__grid app-in-max__holder">
                    <div class="app-ordering__content app-ordering__grid-col">
                        <h2>Отправьте заявку на лизинг</h2>
                        <div class="app-ordering-price mt-2">{{ car-title }} | <span>от  914 BYN / мес.</span></div>
                        <p class="mt-2">И получите информацию по условиям лизинга, или свяжитесь с нами любым удобным способом:</p>
                        <div class="app-ordering-social">
                            <a href="#">
                                <svg width="20" height="24">
                                    <use xlink:href="./app-sprite.svg#phone"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="20" height="24">
                                    <use xlink:href="./app-sprite.svg#viber"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="20" height="24">
                                    <use xlink:href="./app-sprite.svg#telegram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="20" height="24">
                                    <use xlink:href="./app-sprite.svg#whats-app"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="20" height="24">
                                    <use xlink:href="./app-sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="app-ordering__grid-col">
                        {{> components/ordering-form }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>