<section class="app-offers app-section--mt">
    <div class="app-container-holder">
        <div class="app-container">
        <div class="app-section--header">
            <h2>Комплексные предложения</h2>
            <span class="--right-content">AM CAR предлагает комплексные услуги, в зависимости от стоимости автомобиля. Это позволит Вам получить необходимый пакет услуг по оптимальной цене!</span>
        </div>
        <div class="app-offers__grid">
            <div class="app-offer__item">
                <div class="app-offer__item-title">Стандарт</div>
                <div class="app-offer__item-price">990 BYN</div>
                <ul class="app-offer__item-list app-offer--item-mt">
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Подбор транспортного средства</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Проверка каждого лота</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Доставка автомобиля до Клайпеды</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Информирование на каждом этапе до Клайпеды</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Предоставление доп. фото</span>
                    </li>
                </ul>
                <div class="app-offer__item-footer app-offer--item-mt">
                    <a href="#" class="app-btn btn-full btn-primary btn-size-m"><span>Оставить заявку</span></a>
                </div>
            </div>
            <div class="app-offer__item --special">
                <div class="app-offer__item-title">Премиум</div>
                <div class="app-offer__item-price">1 990 BYN</div>
                <ul class="app-offer__item-list app-offer--item-mt">
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Подбор транспортного средства</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Проверка каждого лота</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Доставка автомобиля до Клайпеды</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Информирование на каждом этапе до Клайпеды</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Предоставление доп. фото</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Помощь в растаможке</span>
                    </li>
                </ul>
                <div class="app-offer__item-footer app-offer--item-mt">
                    <a href="#" class="app-btn btn-full btn-primary btn-size-m"><span>Оставить заявку</span></a>
                </div>
            </div>
            <div class="app-offer__item ">
                <div class="app-offer__item-title">Под ключ</div>
                <div class="app-offer__item-price">2 990 BYN</div>
                <ul class="app-offer__item-list app-offer--item-mt">
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Подбор транспортного средства</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Проверка каждого лота</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Доставка автомобиля до Клайпеды</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Информирование на каждом этапе до Клайпеды</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Предоставление доп. фото</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Помощь в растаможке</span>
                    </li>
                    <li>
                        <svg width="18" height="24">
                            <use xlink:href="/app-sprite.svg#check"></use>
                        </svg>
                        <span>Предоставление декларанта</span>
                    </li>
                </ul>
                <div class="app-offer__item-footer app-offer--item-mt">
                    <a href="#" class="app-btn btn-full btn-primary btn-size-m"><span>Оставить заявку</span></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>