<section class="app-photo-slider">
    <swiper-container slides-per-view="auto" loop="true">
        <swiper-slide><a href="#"><img title="title" alt="alt" src="./photos/1.jpg" /></a></swiper-slide>
    </swiper-container>
</section>