<section class="app-reviews app-section--mt">
    <div class="app-container-holder">
        <div class="app-container">
            <div class="app-section--header">
                <h2>Отзывы</h2>
                <span class="--right-content">Мы прекрасно понимаем, что самая лучшая оценка нашей работы и лучший инструмент рекламы — это довольный клиент. </span>
            </div>
            <swiper-container init="false" class="js-review-swiper">
                <div slot="container-start">
                    <button class="app-btn btn-slider btn-size-xl swiper-left app-desktop-visible">
                        <svg width="9" height="24">
                            <use xlink:href="/app-sprite.svg#arrow-left"></use>
                        </svg>
                    </button>
                </div>
                <div slot="container-end">
                    <button class="app-btn btn-slider btn-size-xl swiper-right app-desktop-visible">
                        <svg width="9" height="24">
                            <use xlink:href="/app-sprite.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <swiper-slide>
                    <div class="app-review__item">
                        <img src="./images/review_01.png" alt="" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="app-review__item">
                        <img src="./images/review_02.png" alt="" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="app-review__item">
                        <img src="./images/review_03.png" alt="" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="app-review__item">
                        <img src="./images/review_04.png" alt="" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="app-review__item">
                        <img src="./images/review_01.png" alt="" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="app-review__item">
                        <img src="./images/review_02.png" alt="" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="app-review__item">
                        <img src="./images/review_03.png" alt="" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="app-review__item">
                        <img src="./images/review_04.png" alt="" />
                    </div>
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
</section>