<section class="app-why-us app-section--mt">
    <div class="app-container-holder">
        <div class="app-container">
            <div class="app-why-us__holder">
                <div class="app-section__header-sm app-why-us__top">Почему выбирают <span>AM CAR</span></div>
                <div class="app-why-us__section --right">
                    <h2>Гарантия сделки и <span>страхование</span>&nbsp;груза</h2>
                    <p>Все платежи осуществляются только через банк, никаких наличных денежных средств — это даст Вам гарантию в 100% легальность сделки , а нам никаких претензий со стороны контролирующих органов</p>
                </div>
                <div class="app-why-us__section --left">
                    <h2>Доставка, растаможка и&nbsp;<span>ремонт&nbsp;авто</span></h2>
                    <p>Этот этап занимает от 2-х до 10-и дней в зависимости от месторасположения площадки аукциона.
                        Автомобили оправляются в следующие порты:</p>
                    <a href="#" class="app-btn btn-secondary btn-size-m"><span>Калькулятор доставки</span></a>
                </div>
                <div class="app-why-us__section --right">
                    <h2>Автомобиль <span>в&nbsp;лизинг</span></h2>
                    <p>Мы предлагаем финансирование до 80% от стоимости выбранного вами нового авто или с пробегом, но не требующие ремонта и готовые к эксплуатации. Одобрение заявки происходит в течение 1-2 дней, а срок лизинга составляет до 60 месяцев.</p>
                    <a href="#" class="app-btn btn-primary btn-size-m"><span>Оставить заявку</span></a>
                </div>
            </div>
        </div>
    </div>
</section>