<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./scss/index.scss" />

        {{#if (eq title 'ui')}}
            <link rel="stylesheet" href="./scss/ui.scss" />
        {{/if}}

        <title>{{title}}</title>
    </head>
<body class="{{class}}">
    <div class="app-wrapper">
        {{> sections/header }}
        <main>
            {{> @partial-block}}
        </main>
        {{> sections/footer }}
    </div>
    {{> components/sidebar }}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script type="module" src="./scripts/app.js"></script>
</body>
</html>
