.ui-buttons {

}

.ui-icons {
    display: grid;
    grid-template-columns: repeat(10, minmax(20px, 40px));
    gap: 20px;
}

.ui-heading {
    max-width: 800px;
}

.ui-selects {
    display: flex;
    gap: 20px;
}